*.hs~
*.hi
*.h
*.lock*
*.o
*.exe
*.cache
.DS_Store
.ghc.environment.x86_64-linux-8.4.4
.ghc.environment.x86_64-mingw32-8.6.5
cabal.project.local
dist-newstyle/build/x86_64-linux/ghc-8.4.4/HamP-Free-0.0.0.1/x/HamP-Free/setup-config
dist-newstyle/build/x86_64-windows/ghc-8.6.5/HamP-Free-0.0.0.1/x/HamP-Free/build/HamP-Free/autogen/Paths_HamP_Free.hs
dist-newstyle/build/x86_64-windows/ghc-8.6.5/HamP-Free-0.0.0.1/x/HamP-Free/cache/config
dist-newstyle/cache/compiler
dist-newstyle/cache/config
dist-newstyle/cache/elaborated-plan
dist-newstyle/cache/improved-plan
dist-newstyle/cache/plan.json
dist-newstyle/cache/solver-plan
dist-newstyle/cache/source-hashes
dist-newstyle/cache/up-to-date
cabal.project.local~
dist-newstyle/build/x86_64-linux/ghc-8.4.4/HamP-Free-0.0.0.1/x/HamP-Free/build/HamP-Free/HamP-Free
dist-newstyle/build/x86_64-linux/ghc-8.4.4/HamP-Free-0.0.0.1/x/HamP-Free/build/HamP-Free/autogen/Paths_HamP_Free.hs
dist-newstyle/build/x86_64-linux/ghc-8.4.4/HamP-Free-0.0.0.1/x/HamP-Free/cache/build
dist-newstyle/build/x86_64-linux/ghc-8.4.4/HamP-Free-0.0.0.1/x/HamP-Free/cache/config
dist-newstyle/build/x86_64-linux/ghc-8.4.4/HamP-Free-0.0.0.1/x/HamP-Free/cache/registration
dist-newstyle/build/x86_64-windows/ghc-8.6.5/HamP-Free-0.0.0.1/x/HamP-Free/setup-config
