*.hs~
.DS_Store
.ghc.environment.x86_64-linux-8.4.4
.ghc.environment.x86_64-mingw32-8.6.5
cabal.project.local
dist-newstyle/build/x86_64-linux/ghc-8.4.4/HamP-Free-0.0.0.1/x/HamP-Free/setup-config
dist-newstyle/build/x86_64-linux/ghc-8.4.4/HamP-Free-0.0.0.1/x/HamP-Free/build/HamP-Free/autogen/cabal_macros.h
dist-newstyle/build/x86_64-linux/ghc-8.4.4/HamP-Free-0.0.0.1/x/HamP-Free/build/HamP-Free/autogen/Paths_HamP_Free.hs
dist-newstyle/build/x86_64-linux/ghc-8.4.4/HamP-Free-0.0.0.1/x/HamP-Free/cache/config
dist-newstyle/build/x86_64-linux/ghc-8.4.4/HamP-Free-0.0.0.1/x/HamP-Free/package.conf.inplace/package.cache
dist-newstyle/build/x86_64-linux/ghc-8.4.4/HamP-Free-0.0.0.1/x/HamP-Free/package.conf.inplace/package.cache.lock
dist-newstyle/build/x86_64-windows/ghc-8.6.5/HamP-Free-0.0.0.1/x/HamP-Free/setup-config
dist-newstyle/build/x86_64-windows/ghc-8.6.5/HamP-Free-0.0.0.1/x/HamP-Free/build/HamP-Free/HamP-Free-tmp/MsgHandler.hi
dist-newstyle/build/x86_64-windows/ghc-8.6.5/HamP-Free-0.0.0.1/x/HamP-Free/build/HamP-Free/HamP-Free-tmp/MsgHandler.o
dist-newstyle/build/x86_64-windows/ghc-8.6.5/HamP-Free-0.0.0.1/x/HamP-Free/build/HamP-Free/HamP-Free-tmp/SafeIO.hi
dist-newstyle/build/x86_64-windows/ghc-8.6.5/HamP-Free-0.0.0.1/x/HamP-Free/build/HamP-Free/HamP-Free-tmp/SafeIO.o
dist-newstyle/build/x86_64-windows/ghc-8.6.5/HamP-Free-0.0.0.1/x/HamP-Free/build/HamP-Free/HamP-Free-tmp/TCPConnector.hi
dist-newstyle/build/x86_64-windows/ghc-8.6.5/HamP-Free-0.0.0.1/x/HamP-Free/build/HamP-Free/HamP-Free-tmp/TCPConnector.o
dist-newstyle/build/x86_64-windows/ghc-8.6.5/HamP-Free-0.0.0.1/x/HamP-Free/build/HamP-Free/HamP-Free-tmp/Ham/HamState.hi
dist-newstyle/build/x86_64-windows/ghc-8.6.5/HamP-Free-0.0.0.1/x/HamP-Free/build/HamP-Free/HamP-Free-tmp/Ham/HamState.o
dist-newstyle/build/x86_64-windows/ghc-8.6.5/HamP-Free-0.0.0.1/x/HamP-Free/build/HamP-Free/HamP-Free-tmp/Library/LibraryTypes.hi
dist-newstyle/build/x86_64-windows/ghc-8.6.5/HamP-Free-0.0.0.1/x/HamP-Free/build/HamP-Free/HamP-Free-tmp/Library/LibraryTypes.o
dist-newstyle/build/x86_64-windows/ghc-8.6.5/HamP-Free-0.0.0.1/x/HamP-Free/build/HamP-Free/HamP-Free-tmp/Library/MusicLibrary.hi
dist-newstyle/build/x86_64-windows/ghc-8.6.5/HamP-Free-0.0.0.1/x/HamP-Free/build/HamP-Free/HamP-Free-tmp/Library/MusicLibrary.o
dist-newstyle/build/x86_64-windows/ghc-8.6.5/HamP-Free-0.0.0.1/x/HamP-Free/build/HamP-Free/HamP-Free-tmp/Mpg/MpgCommands.hi
dist-newstyle/build/x86_64-windows/ghc-8.6.5/HamP-Free-0.0.0.1/x/HamP-Free/build/HamP-Free/HamP-Free-tmp/Mpg/MpgCommands.o
dist-newstyle/build/x86_64-windows/ghc-8.6.5/HamP-Free-0.0.0.1/x/HamP-Free/build/HamP-Free/HamP-Free-tmp/Mpg/MpgMessages.hi
dist-newstyle/build/x86_64-windows/ghc-8.6.5/HamP-Free-0.0.0.1/x/HamP-Free/build/HamP-Free/HamP-Free-tmp/Mpg/MpgMessages.o
dist-newstyle/build/x86_64-windows/ghc-8.6.5/HamP-Free-0.0.0.1/x/HamP-Free/build/HamP-Free/autogen/cabal_macros.h
dist-newstyle/build/x86_64-windows/ghc-8.6.5/HamP-Free-0.0.0.1/x/HamP-Free/build/HamP-Free/autogen/Paths_HamP_Free.hs
dist-newstyle/build/x86_64-windows/ghc-8.6.5/HamP-Free-0.0.0.1/x/HamP-Free/cache/config
dist-newstyle/build/x86_64-windows/ghc-8.6.5/HamP-Free-0.0.0.1/x/HamP-Free/package.conf.inplace/package.cache
dist-newstyle/build/x86_64-windows/ghc-8.6.5/HamP-Free-0.0.0.1/x/HamP-Free/package.conf.inplace/package.cache.lock
dist-newstyle/cache/compiler
dist-newstyle/cache/config
dist-newstyle/cache/elaborated-plan
dist-newstyle/cache/improved-plan
dist-newstyle/cache/plan.json
dist-newstyle/cache/solver-plan
dist-newstyle/cache/source-hashes
dist-newstyle/cache/up-to-date
